html, body {
  margin: 0;
  padding: 0;
  background-color: #FF8C69;
  font-family: 'Comic Sans MS';
  display: flex;
  flex-direction: column;
}
#links{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
#developer{
  color: #000000;
 ;
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
  margin-bottom: 10px;
}
#names{
  font-weight: bolder;
  font-size: 30px;
  color: #000000;
 ;
}
#videotags{
  margin: 0 auto;
  display: block;
}
a#video{
  text-align: center;
  margin-top: 10px;
  padding: 4px;
}
a#video:hover{
  background: #8C2100;
  color: #FFFFFF;
}
#title{
  text-align: center;
  font-size: 30px;
  color:#FFFFFF;
}
